# Logs
logs
*.log
npm-debug.log*
yarn-debug.log*
yarn-error.log*
pnpm-debug.log*
lerna-debug.log*

node_modules
dist
dist-ssr
*.local

# Editor directories and files
.vscode/*
!.vscode/extensions.json
.idea
.DS_Store
*.suo
*.ntvs*
*.njsproj
*.sln
*.sw?

../../../.CFUserTextEncoding
        ../../../.DS_Store
        ../../../.arduinoIDE/
        ../../../.cache/
        ../../../.config/
        ../../../.cups/
        ../../../.gitconfig
        ../../../.idlerc/
        ../../../.lesshst
        ../../../.local/
        ../../../.npm/
        ../../../.openjfx/
        ../../../.sage/
        ../../../.ssh/
        ../../../.viminfo
        ../../../.vscode/
        ../../../.yarnrc
        ../../../.zprofile
        ../../../.zsh_history
        ../../../.zsh_sessions/
        ../../../.zshenv
        ../../../.zshrc
        ../../../.zshrc.save
        ../../../Applications/
        ../../..-- State Common Entrance Test Cell, Government of Maharashtra --...pdf
        ../../.DS_Store
        ../../.localized
        ../../CE/
        ../../Module 6 Graphs.ppt
        ../../spell-checker-hashmap/
        ../../task-management/
        ../../~$C_Exp7_16010123324_shreyamenon.docx
        ../../~$P 2 Stack 16010123324 E-2 shreya menon.docx
        ../../~$aracter+Outline (1).pdf
        ../../~$p 3_ Linked List_E2_16010123324_shreya menon.docx
        ../../~$w are beta functions.docx
        ../../../Documents/
        ../../../Downloads/
        ../../../Library/
        ../../../Movies/
        ../../../Music/
        ../../../Pictures/
        ../../../Public/
        ../../../projects/
        ../../../sneakers/
        ../../../task-management/